<div class="content">
  <div class="box">
    <h1>Edit Image</h1>
    <%= image_tag @page_attachment.image.url(:medium) %>
    <br>
    <div><%= render 'form' %>
    <%= link_to 'Cancel', root_path %>
  </div>
</div>


