<div class="show_page_content">
  <h1>Edit Image</h1>
  <div class="box">
    
    <%= image_tag @page_attachment.image.url(:medium) %>
    <br>
    <div><%= render 'form' %>
    <%= link_to 'Cancel', root_path %>
  </div>
</div>


