<% if user_signed_in? %>
  <div id="page_attachments transitions-enabled">
    <% @page_attachments.each do |attachment| %>
      
        <div class="index_container">
        <%= link_to (image_tag attachment.image.url(:medium)), attachment %>
          <div class="panel-body">
            <h2><%= link_to attachment.title, attachment %></h2>
            <p class="user">Submitted by <%= attachment.user.name %></p>
          </div>
        </div>
    </div>
    <% end %>

<% else %>
  <div class="container">
    <h2>Please <%= link_to "sign in", new_user_session_path %> to view your scrapbook!</h2>
  </div>
<% end %>

