<div class="container">
  <% if user_signed_in? %>
    <%= link_to "New Page Attachment", new_page_attachment_path %>
    <% @page_attachments.each do |attachment| %>
      <h2><%= link_to attachment.title, attachment %></h2>
    <% end %>
  <% else %>
    <h2>Please sign in to view your scrapbook!</h2>
  <% end %>
</div>