<div class="show_page_content">
  <div class="box">
    <h1>New Image Upload</h1>
    <%= render 'form' %>
    <div class="home_edit_delete_field">
      <%= link_to "Back", root_path %>
    </div>
  </div>
</div>