/*
*= require 'masonry/transitions'
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.index_container {
  background-color: white;
  width: 30%;
  float: left;
  position: centered;
  margin: 6em 5px 5px 30px;
  border-radius: 7px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  padding: 5px;
  text-align: center;
    /*
    .image{
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    */
    .panel-body {
    padding: 25px;
    h1 {
      margin: 0 0 10px 0;
    }
  }
}

.container {
  background-color: white;
  width: 30%;
  margin: 10em 10px 10px 500px;
  border-radius: 7px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  padding: 10px;
  text-align: center;
}

#page_attachments {
  margin: 1 auto;
  width: 100%;
}

.imageContainer /* for edit, new and show pages */ {
  margin: 0 450px 20px;
  width: 100%;
  height: 100%;
  }

.choose-file-field {
  margin: auto;
  width: 30%;
}

.navbar-right {
    float: right;
    margin-right: 40px; 
    margin-top: 10px
  }

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  .navbar-brand {
        text-decoration: none;
  }
}
