// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

 .container {
  width: 50%;
  max-width: 600px;
  margin: 6em auto 0 auto;
  border-radius: 7px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  padding: 1em;
  text-align: center;
}

.navbar-right {
    float: right;
    margin-right: 40px; 
    margin-top: 10px
  }


